/*

Copyright (c) 2013-2018 Draios Inc. dba Sysdig.

This file is dual licensed under either the MIT or GPL 2. See MIT.txt
or GPL2.txt for full copies of the license.

*/
#pragma once

#define PROBE_VERSION "$DRIVER_VERSION"

#define PROBE_NAME "$DRIVER_NAME"

#define PROBE_DEVICE_NAME "$DRIVER_DEVICE_NAME"
